button {
  display: inline-block;
  border: 1px solid rgba(75, 75, 75, 0.911);
  padding: 10px 40px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &.animate {
    & span {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      & span {
        transform: none;
      }
    }
  }

  &.fill {
    & span {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      & span {
        transform: none;
      }
    }
  }
}
.food {
  button {
    overflow: visible;
    &.patan {
      transform-style: preserve-3d;
      perspective: 300px;
  
      
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 4px;
        opacity: 0;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(90deg);
        transform-origin: top left;
        transition: all 0.5s ease-in-out;
        z-index: -1;
      }
    
      &:hover {
        color: white;
        &::before {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}